@font-face {
	font-family: "arcade-classic";
	font-style: normal;
	font-weight: normal;
	src: url("./static/ARCADECLASSIC.TTF") format("truetype");
}

body {
    
}

#game {
    border: solid 1px #e0e0e0;
    width: 1000px;
    height: 1000px;
}